.footer-container{
  background-color: black;
  color: #fff;
  padding: 1rem 5rem;
}

.footer-top-level{
  height: 10rem;
  display: flex;
}

.detail-btn{
  box-shadow: none;
  border: none;
  padding: 1rem;
  background-color: black;
  color: #fff;
}

.connect-box{
  padding: 1rem;
  width: 50%;
}

.connect-headline{
  font-size: .8rem;
  font-weight: 700;
  margin: 1rem 0;
}

.connect-form{
  display: flex;
  height: 3rem;
}

.connect-subscribe{
  padding: 1rem 2rem;
}

.connect-fine-print{
  font-size: .5rem;
  width: 12rem;
}

.connect-input{
  background-color: transparent;
  width: 12rem;
  border: 1px solid #fff;
  padding: .5rem;
}

::placeholder{
  color: #fff
}

.icon-links{
  width: 50%;
  padding: 1rem;
  margin-left: 0;
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
}

.icon{
  padding: .5rem;
  color: #fff;
}

.connect-second-level{
  display: flex;
  justify-content: space-between;
  height: 2rem;
}

.copyright{
  font-size: .8rem;
}

@media only screen and (max-width: 37.5em){
  .footer-container{
    padding: 1rem;
  }

  .footer-top-level{
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .icon-links{
    width: 50%;
    padding: 1rem;
    margin-left: 0;
    display: flex;
    align-self: center;
    justify-content: center;
  }

  .connect-form{
    width: 100%;
    margin: 1rem;
  }

  .connect-box{
    width: 100%;
    text-align: center;
  }

  .connect-input{
    width: 60vw;
  }

  .connect-fine-print{
    width: 100%;
    font-size: .6rem;
  }

  .fine-print-container{
    display: flex;
    width: 40%;
    margin: auto;
  }

  .connect-second-level{
    flex-direction: column;
    height: 5rem;
    align-items: center;

  }
}